<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>

  <body>
      <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a [routerLink]="'/home'" class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="'/addevent'"  class="nav-link"> Add Event</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="'/events'" class="nav-link"> Admin Events</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="'/profile'" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="'/login'" class="nav-link">Login</a>
          </li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
    </body>
</html>
